name: CI-K2.3.0

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Build
        run: |
          sed -i "s|kotlin.version=2.2.21|kotlin.version=2.3.0-RC3|g" gradle.properties
          ./gradlew build

  build-examples:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Build Examples
        working-directory: ./examples
        run: |
          sed -i "s|kotlin.version=2.2.21|kotlin.version=2.3.0-RC3|g" ../gradle.properties
          sed -i "s|kotlin.version=2.2.21|kotlin.version=2.3.0-RC3|g" gradle.properties
          ./gradlew build
